Repository VirtusLab/besom, pull requests merged in 2023-12, with the labels that each got.

#312 Fix provider inputs serialization
  CONTRIBUTING.md
  Justfile
  core/src/main/scala/besom/internal/ProtobufUtil.scala
  core/src/main/scala/besom/internal/codecs.scala
  core/src/test/scala/besom/internal/ContextTest.scala
  core/src/test/scala/besom/internal/EncoderTest.scala
  core/src/test/scala/besom/internal/ReSerializerTest.scala
  core/src/test/scala/besom/internal/ValueAssertions.scala
Labels: kind/bug, impact/broken, area/core, P0

#316 Update example aws getami
  .scalafmt.conf
  examples/aws-webserver/Main.scala
  examples/aws-webserver/project.scala
  integration-tests/CoreTests.test.scala
  integration-tests/resources/logger-example/Main.scala
Labels: area/examples

#318 Add codegen unit test cases
  codegen/src/PulumiPackage.test.scala
  codegen/src/TypeMapper.test.scala
Labels: area/testing, impact/no-changelog-required

#326 Downgrade exception to logged error for id/urn property
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .github/workflows/templates.yml
  CONTRIBUTING.md
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  scripts/Packages.scala
Labels: area/codegen, impact/regression

#327 Port codegen to Scala 3
  Justfile
  codegen/project.scala
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  codegen/src/DefinitionCoordinates.test.scala
  codegen/src/Logger.scala
  codegen/src/Main.scala
  codegen/src/PackageMetadata.scala
  codegen/src/PackageMetadata.test.scala
  codegen/src/PropertyInfo.scala
  codegen/src/PropertyInfo.test.scala
  codegen/src/PulumiDefinitionCoordinates.scala
  codegen/src/PulumiDefinitionCoordinates.test.scala
  codegen/src/PulumiPackage.scala
  codegen/src/PulumiPackage.test.scala
  codegen/src/PulumiPackageInfo.scala
  codegen/src/PulumiPluginJSON.scala
  codegen/src/ScalaDefinitionCoordinates.scala
  codegen/src/ScalaDefinitionCoordinates.test.scala
  codegen/src/SchemaProvider.scala
  codegen/src/TypeMapper.scala
  codegen/src/TypeMapper.test.scala
  codegen/src/UpickleApi.scala
  codegen/src/Utils.scala
  codegen/src/scalameta.scala
  integration-tests/LanguagePluginTest.test.scala
  integration-tests/integration.scala
  integration-tests/project.scala
  scripts/Coverage.scala
  scripts/Packages.scala
  scripts/Proto.scala
  scripts/Schemas.scala
  scripts/common.scala
Labels: kind/cleanup, area/codegen

#328 draft of get, read and refactor to readOrRegisterResource
  Justfile
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  core/src/main/scala/besom/aliases.scala
  core/src/main/scala/besom/internal/BesomModule.scala
  core/src/main/scala/besom/internal/Config.scala
  core/src/main/scala/besom/internal/Context.scala
  core/src/main/scala/besom/internal/EmptyArgs.scala
  core/src/main/scala/besom/internal/Output.scala
  core/src/main/scala/besom/internal/OutputData.scala
  core/src/main/scala/besom/internal/RawResourceResult.scala
  core/src/main/scala/besom/internal/ResourceDecoder.scala
  core/src/main/scala/besom/internal/ResourceOps.scala
  core/src/main/scala/besom/internal/ResourceOptions.scala
  core/src/main/scala/besom/internal/StackReference.scala
  core/src/main/scala/besom/internal/StackReferenceArgs.scala
  core/src/main/scala/besom/internal/codecs.scala
  core/src/main/scala/besom/internal/logging.scala
  core/src/main/scala/besom/types.scala
  core/src/main/scala/besom/util/Validated.scala
  core/src/test/scala/besom/internal/DecoderTest.scala
  core/src/test/scala/besom/internal/EncoderTest.scala
  core/src/test/scala/besom/internal/InterpolatorTest.scala
  core/src/test/scala/besom/internal/LoggingTest.scala
  core/src/test/scala/besom/internal/OutputDataTest.scala
  core/src/test/scala/besom/internal/OutputTest.scala
  core/src/test/scala/besom/internal/ReSerializerTest.scala
  core/src/test/scala/besom/internal/ResourceDecoderTest.scala
  core/src/test/scala/besom/util/URNTest.scala
  core/src/test/scala/besom/util/ValidatedTest.scala
  integration-tests/CodegenTests.test.scala
  integration-tests/CoreTests.test.scala
  integration-tests/LanguagePluginTest.test.scala
  integration-tests/integration.scala
  integration-tests/resources/config-example/Main.scala
  integration-tests/resources/references/source-stack/Main.scala
  integration-tests/resources/references/source-stack/Pulumi.yaml
  integration-tests/resources/references/source-stack/project.scala
  integration-tests/resources/references/target-stack/Main.scala
  integration-tests/resources/references/target-stack/Pulumi.yaml
  integration-tests/resources/references/target-stack/project.scala
Labels: impact/broken, kind/missing, area/codegen, area/core

#329 Update codegen - normalize type names, fix methods
  CONTRIBUTING.md
  Justfile
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  codegen/src/Logger.scala
  codegen/src/Main.scala
  codegen/src/PropertyInfo.scala
  codegen/src/PropertyInfo.test.scala
  codegen/src/PulumiDefinitionCoordinates.scala
  codegen/src/PulumiDefinitionCoordinates.test.scala
  codegen/src/PulumiPackageInfo.scala
  codegen/src/ScalaDefinitionCoordinates.scala
  codegen/src/ScalaDefinitionCoordinates.test.scala
  codegen/src/SchemaProvider.scala
  codegen/src/TypeMapper.scala
  codegen/src/TypeMapper.test.scala
  codegen/src/Utils.scala
  integration-tests/CodegenTests.test.scala
  integration-tests/integration.scala
  scripts/Packages.scala
Labels: kind/bug, impact/broken, area/codegen

#335 Update integration-tests to be uniform
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .github/workflows/templates.yml
  .github/workflows/upstream_proto.yml
  Justfile
  compiler-plugin/project.scala
  integration-tests/.scalafmt.conf
  integration-tests/CompilerPlugin.test.scala
  integration-tests/CoreTests.test.scala
  integration-tests/integration.scala
  integration-tests/resources/.gitignore
  integration-tests/resources/cats-purrl-example/Main.scala
  integration-tests/resources/cats-purrl-example/Pulumi.yaml
  integration-tests/resources/cats-purrl-example/project.scala
  integration-tests/resources/compiler-plugin/Main.scala
  integration-tests/resources/compiler-plugin/project.scala
  integration-tests/resources/zio-tls-example/Main.scala
  integration-tests/resources/zio-tls-example/Pulumi.yaml
  integration-tests/resources/zio-tls-example/project.scala
  integration-tests/src/test/resources/purrl-example/Pulumi.yaml
  integration-tests/src/test/resources/tls-example/Pulumi.yaml
  integration-tests/src/test/scala/besom/integration/CompilerPluginTest.scala
  scripts/Coverage.scala
  scripts/Version.scala
  templates/default/project.scala
Labels: kind/cleanup, area/testing
