Repository VirtusLab/besom, pull requests merged in 2023-10, with the labels that each got.

#202 Fix #201 trace log file name
  core/src/main/scala/besom/internal/logging.scala
  core/src/test/scala/besom/internal/LoggingTest.scala
Labels: area/testing, impact/flaky-test

#212 Enable logging via Pulumi, add user-level MDC
  core/src/main/scala/besom/aliases.scala
  core/src/main/scala/besom/internal/BesomModule.scala
  core/src/main/scala/besom/internal/Context.scala
  core/src/main/scala/besom/internal/ResourceDecoder.scala
  core/src/main/scala/besom/internal/ResourceOps.scala
  core/src/main/scala/besom/internal/logging.scala
  core/src/test/scala/besom/internal/LoggingTest.scala
  core/src/test/scala/besom/internal/ResourceDecoderTest.scala
Labels: kind/bug, area/core, impact/first-48, impact/regression

#219 Add kubernetes-nginx example
  Justfile
  examples/kubernetes-nginx/.gitignore
  examples/kubernetes-nginx/Main.scala
  examples/kubernetes-nginx/Pulumi.yaml
  examples/kubernetes-nginx/README.md
  examples/kubernetes-nginx/project.scala
Labels: area/examples

#215 Add GCP template
  templates/aws/Main.scala
  templates/default/Main.scala
  templates/gcp/Main.scala
  templates/gcp/Pulumi.yaml
  templates/gcp/project.scala
Labels: area/examples

#214 Update README.md
  README.md
Labels: area/docs, impact/no-changelog-required

#210 Update docs website
  website/.gitignore
  website/docs/architecture.md
  website/docs/basics.md
  website/docs/components.md
  website/docs/constructors.md
  website/docs/context.md
  website/docs/exports.md
  website/docs/interpolator.md
  website/docs/intro.md
  website/docs/laziness.md
  website/docs/lifting.md
  website/docs/missing.md
  website/docs/tutorial.md
  website/package.json
  website/sidebars.js
Labels: area/docs, impact/no-changelog-required

#220 Update ci.yml - ignore examples
  .github/workflows/ci.yml
Labels: impact/no-changelog-required, area/build

#226 Use shorter scala-cli install one-liner
  README.md
  website/docs/getting_started.md
Labels: area/docs

#227 Add logger integration test
  .github/workflows/ci.yml
  Justfile
  integration-tests/CoreTests.test.scala
  integration-tests/project.scala
  integration-tests/resources/logger-example/Main.scala
  integration-tests/resources/logger-example/Pulumi.yaml
  integration-tests/resources/logger-example/project.scala
  integration-tests/src/test/scala/besom/integration/CompilerPluginTest.scala
Labels: area/testing, impact/regression

#229 Await for gRPC channel termination
  core/src/main/scala/besom/internal/Engine.scala
  core/src/main/scala/besom/internal/Monitor.scala
  core/src/main/scala/besom/internal/netty.scala
Labels: kind/bug, area/core, impact/reliability

#232 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/docs, impact/no-changelog-required

#238 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/docs, impact/no-changelog-required

#230 Fix GH fork check
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .github/workflows/templates.yml
  .github/workflows/test-website.yml
Labels: area/tooling, impact/no-changelog-required

#231 Update gRPC dependencies
  core/project.scala
Labels: kind/improvement, area/core, impact/security

#240 Fix #221 - markdown snippets check with mdoc
  .github/workflows/test-website.yml
  CONTRIBUTING.md
  Justfile
  README.md
  website/docs/architecture.md
  website/docs/basics.md
  website/docs/components.md
  website/docs/constructors.md
  website/docs/context.md
  website/docs/exports.md
  website/docs/getting_started.md
  website/docs/interpolator.md
  website/docs/intro.md
  website/docs/laziness.md
  website/docs/lifting.md
  website/docs/tutorial.md
Labels: area/docs, impact/no-changelog-required, impact/reliability

#249 Update Pulumi in CI 3.86.0 -> 3.89.0
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .github/workflows/templates.yml
Labels: impact/no-changelog-required, area/build

#241 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/docs, impact/no-changelog-required

#156 Enable scalafmt with just `--list` param
  .github/workflows/ci.yml
Labels: area/testing, impact/no-changelog-required

#252 Log env vars with trace level
  core/src/main/scala/besom/internal/BesomModule.scala
Labels: area/core, kind/internal, impact/no-changelog-required

#251 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/docs, impact/no-changelog-required

#253 Improve core integration tests
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .github/workflows/templates.yml
  .github/workflows/upstream_proto.yml
  Justfile
  integration-tests/CoreTests.test.scala
  integration-tests/integration.scala
  integration-tests/project.scala
  integration-tests/resources/logger-example/project.scala
Labels: area/testing, kind/internal, impact/no-changelog-required, impact/reliability

#255 Update Pulumi Protobuf-s
  core/src/main/scala/besom/rpc/pulumirpc/provider/ConfigureRequest.scala
  core/src/main/scala/besom/rpc/pulumirpc/provider/DeleteRequest.scala
  core/src/main/scala/besom/rpc/pulumirpc/provider/ProviderProto.scala
  proto/pulumi/provider.proto
Labels: area/core

#234 Add codegen schema-driven test
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Justfile
  codegen/src/Main.scala
  codegen/src/PulumiPackage.scala
  codegen/src/SchemaProvider.scala
  integration-tests/CodegenTests.test.scala
  integration-tests/README.md
  integration-tests/resources/.gitignore
  integration-tests/resources/testdata/akamai/schema.json
  integration-tests/resources/testdata/azure-native-nested-types/schema.json
  integration-tests/resources/testdata/cyclic-types/schema.yaml
  integration-tests/resources/testdata/dash-named-schema/schema.json
  integration-tests/resources/testdata/different-enum/schema.json
  integration-tests/resources/testdata/different-package-name-conflict/schema.json
  integration-tests/resources/testdata/embedded-crd-types/schema.json
  integration-tests/resources/testdata/enum-reference/schema.json
  integration-tests/resources/testdata/external-enum/schema.json
  integration-tests/resources/testdata/external-resource-schema/schema.json
  integration-tests/resources/testdata/functions-secrets/schema.json
  integration-tests/resources/testdata/hyphen-url/schema.json
  integration-tests/resources/testdata/hyphenated-symbols/schema.json
  integration-tests/resources/testdata/jumbo-resources/schema.json
  integration-tests/resources/testdata/mini-awsclassic/schema.json
  integration-tests/resources/testdata/mini-awsnative/schema.json
  integration-tests/resources/testdata/mini-awsx/schema.json
  integration-tests/resources/testdata/mini-azuread/schema.json
  integration-tests/resources/testdata/mini-azurenative/schema.json
  integration-tests/resources/testdata/mini-kubernetes/schema.json
  integration-tests/resources/testdata/naming-collisions/schema.json
  integration-tests/resources/testdata/nested-module-thirdparty/schema.json
  integration-tests/resources/testdata/nested-module/schema.json
  integration-tests/resources/testdata/plain-and-default/schema.json
  integration-tests/resources/testdata/plain-object-defaults/schema.json
  integration-tests/resources/testdata/plain-object-disable-defaults/schema.json
  integration-tests/resources/testdata/provider-config-schema/schema.json
  integration-tests/resources/testdata/replace-on-change/schema.json
  integration-tests/resources/testdata/resource-property-overlap/schema.json
  integration-tests/resources/testdata/secrets/schema.json
  integration-tests/resources/testdata/simple-enum-schema/schema.json
  integration-tests/resources/testdata/simple-methods-schema-single-value-returns/schema.json
  integration-tests/resources/testdata/simple-methods-schema/schema.json
  integration-tests/resources/testdata/simple-plain-schema-with-root-package/schema.json
  integration-tests/resources/testdata/simple-plain-schema/schema.json
  integration-tests/resources/testdata/simple-resource-schema/schema.json
  integration-tests/resources/testdata/simple-yaml-schema/schema.yaml
  integration-tests/resources/testdata/simplified-invokes/schema.json
  scripts/Proto.scala
  scripts/Schemas.scala
  scripts/common.scala
Labels: kind/improvement, area/codegen, impact/no-changelog-required, impact/reliability

#242 Improve language host integration tests
  .github/workflows/ci.yml
  Justfile
  integration-tests/LanguagePluginTest.test.scala
  integration-tests/resources/executors/jar/Pulumi.yaml
  integration-tests/resources/executors/sbt/.gitignore
  integration-tests/resources/executors/sbt/Pulumi.yaml
  integration-tests/resources/executors/sbt/build.sbt
  integration-tests/resources/executors/sbt/src/main/scala/Main.scala
  integration-tests/resources/executors/scala-cli/Main.scala
  integration-tests/resources/executors/scala-cli/Pulumi.yaml
  integration-tests/resources/executors/scala-cli/project.scala
  integration-tests/resources/fake-external-resource-plugin/Lib.scala
  integration-tests/resources/fake-external-resource-plugin/resources/besom/api/fake-external-resource/plugin.json
  integration-tests/resources/fake-standard-resource-plugin/Lib.scala
  integration-tests/resources/fake-standard-resource-plugin/resources/besom/api/fake-standard-resource/plugin.json
  language-plugin/tests/resources/executors/jar/Pulumi.executor-test.yaml
  language-plugin/tests/resources/executors/jar/Pulumi.yaml
  language-plugin/tests/resources/executors/sbt/Pulumi.executor-test.yaml
  language-plugin/tests/resources/executors/sbt/Pulumi.yaml
  language-plugin/tests/resources/executors/sbt/src/main/scala/Main.scala
  language-plugin/tests/resources/executors/scala-cli/Main.scala
  language-plugin/tests/resources/executors/scala-cli/Pulumi.executor-test.yaml
  language-plugin/tests/resources/executors/scala-cli/Pulumi.yaml
  language-plugin/tests/resources/executors/scala-cli/project.scala
  language-plugin/tests/src/LanguagePluginExecutorTest.scala
Labels: kind/improvement, area/testing, impact/no-changelog-required, impact/reliability

#245 Update language plugin
  language-plugin/bootstrap/project.scala
  language-plugin/pulumi-language-scala/command.go
  language-plugin/pulumi-language-scala/executors/executor.go
  language-plugin/pulumi-language-scala/executors/executor_jar.go
  language-plugin/pulumi-language-scala/executors/executor_sbt.go
  language-plugin/pulumi-language-scala/executors/executor_scala_cli.go
  language-plugin/pulumi-language-scala/go.mod
  language-plugin/pulumi-language-scala/go.sum
  language-plugin/pulumi-language-scala/main.go
Labels: kind/improvement, area/language-host

#260 Update codegen part 1
  Justfile
  codegen/project.scala
  codegen/resources/pulumi.json
  integration-tests/resources/executors/sbt/build.sbt
  scripts/Schemas.scala
  scripts/common.scala
Labels: area/codegen, kind/internal, impact/no-changelog-required

#261 Codegen update part 2
  Justfile
  codegen/src/PulumiPluginJSON.scala
  integration-tests/CodegenTests.test.scala
  integration-tests/LanguagePluginTest.test.scala
  integration-tests/integration.scala
  integration-tests/project.scala
Labels: area/codegen, impact/no-changelog-required

#262 Codegen update 3
  integration-tests/CodegenTests.test.scala
  integration-tests/integration.scala
  integration-tests/resources/testdata/docker.json
  integration-tests/resources/testdata/kubernetes.json
Labels: area/codegen, impact/no-changelog-required

#263 Codegen update 4
  Justfile
  codegen/src/CodeGen.scala
  codegen/src/Main.scala
  codegen/src/SchemaProvider.scala
  integration-tests/CodegenTests.test.scala
  integration-tests/CoreTests.test.scala
  integration-tests/LanguagePluginTest.test.scala
  integration-tests/integration.scala
  integration-tests/project.scala
Labels: area/codegen, impact/no-changelog-required

#265 Codegen update 6
  codegen/src/ClassCoordinates.scala
  codegen/src/ClassCoordinates.test.scala
  codegen/src/CodeGen.scala
  codegen/src/CodegenError.scala
  codegen/src/Main.scala
  codegen/src/PulumiPackage.scala
  codegen/src/PulumiPackageInfo.scala
  codegen/src/PulumiTypeCoordinates.scala
  codegen/src/PulumiTypeCoordinates.test.scala
  codegen/src/SchemaProvider.scala
  codegen/src/TypeMapper.scala
  codegen/src/TypeMapper.test.scala
  codegen/src/Utils.scala
  integration-tests/CoreTests.test.scala
Labels: area/codegen

#266 Update PulumiPackage and warn about missing functionality
  codegen/src/ClassCoordinates.scala
  codegen/src/CodeGen.scala
  codegen/src/Config.scala
  codegen/src/Logger.scala
  codegen/src/Main.scala
  codegen/src/PulumiPackage.scala
  codegen/src/PulumiTypeCoordinates.scala
  codegen/src/SchemaProvider.scala
  codegen/src/UpickleApi.scala
  codegen/src/Utils.scala
  integration-tests/CodegenTests.test.scala
Labels: area/codegen, impact/no-changelog-required

#267 Codegen update - 8
  codegen/src/ClassCoordinates.scala
  codegen/src/TypeMapper.test.scala
  codegen/src/Utils.scala
  integration-tests/CodegenTests.test.scala
  integration-tests/resources/testdata/digitalocean.json
  scripts/Schemas.scala
Labels: area/codegen, impact/no-changelog-required

#269 Codegen update 10
  codegen/src/PulumiPackage.scala
  codegen/src/TypeMapper.scala
  codegen/src/TypeMapper.test.scala
  integration-tests/CodegenTests.test.scala
Labels: area/codegen, impact/no-changelog-required

#272 Match gRPC version with upstream
  CONTRIBUTING.md
  Justfile
  core/project.scala
  core/src/main/scala/besom/rpc/pulumirpc/engine/EngineGrpc.scala
  core/src/main/scala/besom/rpc/pulumirpc/engine/LogSeverity.scala
  core/src/main/scala/besom/rpc/pulumirpc/provider/DiffResponse.scala
  core/src/main/scala/besom/rpc/pulumirpc/provider/PropertyDiff.scala
  core/src/main/scala/besom/rpc/pulumirpc/provider/ResourceProviderGrpc.scala
  core/src/main/scala/besom/rpc/pulumirpc/resource/ResourceMonitorGrpc.scala
  language-plugin/pulumi-language-scala/go.mod
  language-plugin/pulumi-language-scala/go.sum
Labels: area/core, impact/no-changelog-required

#273 Fix schema fetching
  scripts/Schemas.scala
Labels: area/codegen, impact/no-changelog-required

#270 Codegen - deal with broken schemas
  Justfile
  codegen/src/CodeGen.scala
  codegen/src/PulumiTypeCoordinates.scala
  codegen/src/TypeMapper.scala
  codegen/src/TypeMapper.test.scala
  codegen/src/Utils.scala
  integration-tests/CodegenTests.test.scala
Labels: area/codegen, impact/no-changelog-required
