Repository VirtusLab/besom, pull requests merged in 2024-04, with the labels that each got.

#399 add aws eks hello world example
  examples/aws-eks/Main.scala
  examples/aws-eks/README.md
  examples/aws-eks/project.scala
Labels: area/examples

#429 Memoization of pulumi side effects
  core/src/main/scala/besom/internal/Context.scala
  core/src/main/scala/besom/internal/Memo.scala
  core/src/main/scala/besom/internal/ResourceDecoder.scala
  core/src/main/scala/besom/internal/ResourceOps.scala
  core/src/main/scala/besom/internal/ResourceOptions.scala
  core/src/main/scala/besom/internal/Result.scala
  core/src/main/scala/besom/internal/resources.scala
  core/src/test/scala/besom/internal/DummyContext.scala
  core/src/test/scala/besom/internal/MemoTest.scala
  core/src/test/scala/besom/internal/ResourceDecoderTest.scala
  experimental/src/main/scala/besom/liftoff.scala
  integration-tests/CoreTests.test.scala
  integration-tests/resources/memoization/source-stack/Main.scala
  integration-tests/resources/memoization/source-stack/Pulumi.yaml
  integration-tests/resources/memoization/source-stack/project.scala
  integration-tests/resources/memoization/target-stack/Main.scala
  integration-tests/resources/memoization/target-stack/Pulumi.yaml
  integration-tests/resources/memoization/target-stack/project.scala
Labels: area/core

#404 Json handling improvements
  besom-json/src/main/scala/besom/json/JsonFormat.scala
  besom-json/src/main/scala/besom/json/ProductFormats.scala
  besom-json/src/main/scala/besom/json/package.scala
  besom-json/src/test/scala/besom/json/DerivedFormatsSpec.scala
  besom-json/src/test/scala/besom/json/ProductFormatsSpec.scala
  core/src/main/scala/besom/internal/Env.scala
  core/src/main/scala/besom/json/interpolator.scala
  core/src/main/scala/besom/util/JsonInterpolator.scala
  core/src/test/scala/besom/internal/ConfigTest.scala
  core/src/test/scala/besom/util/CompileAssertions.scala
  core/src/test/scala/besom/util/JsonInterpolatorTest.scala
  integration-tests/resources/config-example/Main.scala
  website/docs/changelog.md
  website/docs/json.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: kind/improvement, impact/usability, blocked, impact/first-48, size/M, area/api, impact/breaking

#441 Fix traverse problem from #430, fix component API function too
  besom-cats/src/main/scala/runtime.scala
  besom-zio/src/main/scala/runtime.scala
  core/src/main/scala/besom/future.scala
  core/src/main/scala/besom/internal/BesomSyntax.scala
  core/src/main/scala/besom/internal/Output.scala
  core/src/test/scala/besom/internal/OutputTest.scala
Labels: kind/bug, area/core, area/api

#433 Use custom pretty printer in logs
  core/src/main/scala/besom/internal/BesomModule.scala
  core/src/main/scala/besom/internal/RawResourceResult.scala
  core/src/main/scala/besom/internal/ResourceDecoder.scala
  core/src/main/scala/besom/internal/ResourceOps.scala
  core/src/main/scala/besom/internal/RunInfo.scala
  core/src/main/scala/besom/internal/logging.scala
  core/src/main/scala/besom/util/printer.scala
  core/src/test/scala/besom/internal/DummyContext.scala
  core/src/test/scala/besom/internal/ResourceDecoderTest.scala
  core/src/test/scala/besom/util/PrinterTest.scala
Labels: kind/internal, impact/no-changelog-required

#442 Fix liftoff example
  experimental/project.scala
  experimental/src/main/scala/besom/liftoff.scala
Labels: area/examples, kind/internal

#440 added parSequence on Result and parSequence/parTraverse on Output
  Justfile
  core/src/main/scala/besom/internal/Output.scala
  core/src/main/scala/besom/internal/Result.scala
  core/src/test/scala/besom/internal/OutputTest.scala
  core/src/test/scala/besom/internal/ResultSpec.scala
Labels: area/core, impact/performance

#439 Add `Output.when`
  core/src/main/scala/besom/internal/Output.scala
  core/src/test/scala/besom/internal/OutputTest.scala
Labels: area/core, area/api

#443 Improve errors around `Output.eval` and `Output#flatMap` / `ToFuture` `@implicitNotFound`
  core/src/main/scala/besom/internal/Output.scala
  core/src/main/scala/besom/internal/Result.scala
  core/src/test/scala/besom/internal/OutputTest.scala
Labels: kind/improvement, impact/usability, impact/first-48, size/S, area/api

#446 Fix website/docs/components.md example
  website/docs/components.md
Labels: area/docs, impact/no-changelog-required

#445 Add lifts to `Output[Option[List[A]]]` etc.
  core/src/main/scala/besom/internal/Output.scala
  core/src/test/scala/besom/internal/OutputTest.scala
Labels: area/api

#402 Add overlay support to codegen
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  codegen/src/Config.scala
  codegen/src/DefinitionCoordinates.test.scala
  codegen/src/Logger.scala
  codegen/src/Main.scala
  codegen/src/Overlay.scala
  codegen/src/PackageMetadata.test.scala
  codegen/src/PropertyInfo.test.scala
  codegen/src/PulumiDefinitionCoordinates.scala
  codegen/src/PulumiDefinitionCoordinates.test.scala
  codegen/src/PulumiPackageInfo.scala
  codegen/src/PulumiToken.scala
  codegen/src/ScalaDefinitionCoordinates.scala
  codegen/src/ScalaDefinitionCoordinates.test.scala
  codegen/src/SchemaProvider.scala
  codegen/src/TypeMapper.scala
  codegen/src/TypeMapper.test.scala
  codegen/src/Utils.scala
  integration-tests/CoreTests.test.scala
  integration-tests/integration.scala
  scripts/Packages.scala
Labels: kind/missing, area/codegen

#465 fix issue 462 - MatchError in Output[String] -> Output[NonEmptyString] inference
  core/src/main/scala/besom/util/NonEmptyString.scala
  core/src/test/scala/besom/util/CompileAssertions.scala
  core/src/test/scala/besom/util/NonEmptyStringTest.scala
Labels: area/core

#464 Add GKE cluster example
  examples/gcp-gke/.gitignore
  examples/gcp-gke/Main.scala
  examples/gcp-gke/Pulumi.yaml
  examples/gcp-gke/README.md
  examples/gcp-gke/project.scala
Labels: area/examples

#455 Add Azure webserver example
  examples/azure-webserver/.gitignore
  examples/azure-webserver/Main.scala
  examples/azure-webserver/Pulumi.yaml
  examples/azure-webserver/README.md
  examples/azure-webserver/project.scala
Labels: area/examples

#471 Release v0.3.1
  README.md
  besom-cats/project.scala
  besom-zio/project.scala
  core/project.scala
  examples/aws-eks/project.scala
  examples/aws-s3-folder/project.scala
  examples/aws-secrets-manager/project.scala
  examples/aws-webserver/project.scala
  examples/azure-static-website/project.scala
  examples/azure-webserver/project.scala
  examples/docker-multi-container-app/infra/project.scala
  examples/gcp-cloudrun/infra/project.scala
  examples/gcp-gke/project.scala
  examples/gcp-static-page/project.scala
  examples/gcp-webserver/project.scala
  examples/kubernetes-guestbook/components/project.scala
  examples/kubernetes-guestbook/simple/project.scala
  examples/kubernetes-nginx/project.scala
  experimental/project.scala
  integration-tests/project.scala
  integration-tests/resources/cats-purrl-example/project.scala
  integration-tests/resources/compiler-plugin/project.scala
  integration-tests/resources/config-example/project.scala
  integration-tests/resources/executors/gradle/build.gradle.kts
  integration-tests/resources/executors/maven/pom.xml
  integration-tests/resources/executors/sbt/build.sbt
  integration-tests/resources/executors/scala-cli/project.scala
  integration-tests/resources/kubernetes-secrets/project.scala
  integration-tests/resources/logger-example/project.scala
  integration-tests/resources/memoization/source-stack/project.scala
  integration-tests/resources/memoization/target-stack/project.scala
  integration-tests/resources/random-example/project.scala
  integration-tests/resources/references/source-stack/project.scala
  integration-tests/resources/references/target-stack/project.scala
  integration-tests/resources/tls-example/project.scala
  integration-tests/resources/zio-tls-example/project.scala
  language-plugin/bootstrap/project.scala
  scripts/project.scala
  templates/aws/project.scala
  templates/default/project.scala
  templates/gcp/project.scala
  templates/kubernetes/project.scala
  version.txt
  website/docs/changelog.md
  website/docs/examples.md
  website/docs/getting_started.md
  website/docs/missing.md
  website/docs/templates.md
Labels: area/core

#473 Add Kubernetes YAML example
  examples/kubernetes-yaml/.gitignore
  examples/kubernetes-yaml/Main.scala
  examples/kubernetes-yaml/Pulumi.yaml
  examples/kubernetes-yaml/README.md
  examples/kubernetes-yaml/project.scala
  examples/kubernetes-yaml/yaml/deployment.yaml
  examples/kubernetes-yaml/yaml/namespace/namespace.yaml
  examples/kubernetes-yaml/yaml/service.yaml
Labels: area/examples

#476 Updated changelog for 0.3.1 with correction
  website/docs/changelog.md
Labels: area/docs

#475 Add Wordpress Fargate RDS example
  examples/aws-webserver/Pulumi.yaml
  examples/aws-wordpress-fargate-rds/Backend.scala
  examples/aws-wordpress-fargate-rds/Frontent.scala
  examples/aws-wordpress-fargate-rds/Main.scala
  examples/aws-wordpress-fargate-rds/Network.scala
  examples/aws-wordpress-fargate-rds/Pulumi.yaml
  examples/aws-wordpress-fargate-rds/README.md
  examples/aws-wordpress-fargate-rds/project.scala
Labels: area/examples

#477 Add Kubernetes YAML with CRD example
  examples/kubernetes-yaml-crd/.gitignore
  examples/kubernetes-yaml-crd/Main.scala
  examples/kubernetes-yaml-crd/Pulumi.yaml
  examples/kubernetes-yaml-crd/README.md
  examples/kubernetes-yaml-crd/project.scala
Labels: area/examples

#478 Bump version to 0.4.0-SNAPSHOT
  CONTRIBUTING.md
  besom-cats/project.scala
  besom-zio/project.scala
  core/project.scala
  examples/aws-eks/project.scala
  examples/aws-s3-folder/project.scala
  examples/aws-secrets-manager/project.scala
  examples/aws-webserver/project.scala
  examples/aws-wordpress-fargate-rds/project.scala
  examples/azure-aks-managed-identity/project.scala
  examples/azure-static-website/project.scala
  examples/azure-webserver/project.scala
  examples/docker-multi-container-app/infra/project.scala
  examples/gcp-cloudrun/infra/project.scala
  examples/gcp-gke/project.scala
  examples/gcp-static-page/project.scala
  examples/gcp-webserver/project.scala
  examples/kubernetes-guestbook/components/project.scala
  examples/kubernetes-guestbook/simple/project.scala
  examples/kubernetes-helm-release-wordpress/project.scala
  examples/kubernetes-nginx/project.scala
  examples/kubernetes-yaml-crd/project.scala
  examples/kubernetes-yaml/project.scala
  experimental/project.scala
  integration-tests/project.scala
  integration-tests/resources/cats-purrl-example/project.scala
  integration-tests/resources/compiler-plugin/project.scala
  integration-tests/resources/config-example/project.scala
  integration-tests/resources/executors/scala-cli/project.scala
  integration-tests/resources/kubernetes-secrets/project.scala
  integration-tests/resources/logger-example/project.scala
  integration-tests/resources/memoization/source-stack/project.scala
  integration-tests/resources/memoization/target-stack/project.scala
  integration-tests/resources/random-example/project.scala
  integration-tests/resources/references/source-stack/project.scala
  integration-tests/resources/references/target-stack/project.scala
  integration-tests/resources/tls-example/project.scala
  integration-tests/resources/zio-tls-example/project.scala
  language-plugin/bootstrap/project.scala
  scripts/project.scala
  templates/aws/project.scala
  templates/default/project.scala
  templates/gcp/project.scala
  templates/kubernetes/project.scala
  version.txt
Labels: impact/no-changelog-required

#469 Update scripts
  codegen/src/Config.scala
  integration-tests/integration.scala
  scripts/Packages.scala
  scripts/Proto.scala
  scripts/Schemas.scala
  scripts/Version.scala
  scripts/Version.test.scala
  scripts/cli.scala
  scripts/common.scala
Labels: area/tooling, impact/no-changelog-required

#463 Update mangled properties list
  codegen/src/CodeGen.test.scala
  codegen/src/PropertyInfo.scala
  core/src/main/scala/besom/internal/codecs.scala
  core/src/test/scala/besom/internal/ResourceDecoderTest.scala
Labels: area/codegen

#479 Add AWS API Gateway V2 with EventBridge example
  examples/aws-apigatewayv2-eventbridge/.gitignore
  examples/aws-apigatewayv2-eventbridge/Main.scala
  examples/aws-apigatewayv2-eventbridge/Pulumi.yaml
  examples/aws-apigatewayv2-eventbridge/README.md
  examples/aws-apigatewayv2-eventbridge/project.scala
  examples/aws-wordpress-fargate-rds/Frontent.scala
  examples/azure-aks-managed-identity/Main.scala
Labels: area/examples
