Repository VirtusLab/besom, pull requests merged in 2024-01, with the labels that each got.

#332 Update codegen and package generator
  CONTRIBUTING.md
  Justfile
  codegen/project.scala
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  codegen/src/CodegenError.scala
  codegen/src/Main.scala
  codegen/src/PackageMetadata.scala
  codegen/src/PulumiDefinitionCoordinates.scala
  codegen/src/PulumiDefinitionCoordinates.test.scala
  codegen/src/PulumiPackage.scala
  codegen/src/PulumiPackageInfo.scala
  codegen/src/ScalaDefinitionCoordinates.scala
  codegen/src/SchemaProvider.scala
  codegen/src/TypeMapper.scala
  codegen/src/TypeMapper.test.scala
  codegen/src/Utils.scala
  codegen/src/scalameta.scala
  core/project.scala
  core/src/main/scala/besom/internal/Codegen.scala
  core/src/main/scala/besom/internal/Config.scala
  core/src/main/scala/besom/internal/ConfigValueReader.scala
  core/src/main/scala/besom/internal/codecs.scala
  core/src/main/scala/besom/types.scala
  core/src/main/scala/besom/util/Validated.scala
  core/src/test/scala/besom/internal/ConfigTest.scala
  core/src/test/scala/besom/internal/DecoderTest.scala
  integration-tests/CodegenTests.test.scala
  integration-tests/integration.scala
  scripts/Packages.scala
  scripts/common.scala
Labels: kind/missing, kind/cleanup, area/codegen

#341 Add discriminated union decoders
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  codegen/src/Main.scala
  codegen/src/PropertyInfo.scala
  codegen/src/PulumiPackage.scala
  codegen/src/TypeMapper.scala
  codegen/src/Utils.scala
  codegen/src/scalameta.scala
  codegen/src/scalameta.test.scala
  core/src/main/scala/besom/internal/codecs.scala
  core/src/test/scala/besom/internal/DecoderTest.scala
  integration-tests/CodegenTests.test.scala
  scripts/Packages.scala
Labels: impact/broken, kind/missing, area/codegen, area/core

#343 Disallow nested arg Resource types in codegen's TypeMapper
  codegen/src/PropertyInfo.test.scala
  codegen/src/PulumiDefinitionCoordinates.scala
  codegen/src/ScalaDefinitionCoordinates.scala
  codegen/src/TypeMapper.scala
Labels: area/codegen

#344 Update missing.md
  website/docs/missing.md
Labels: area/docs

#345 Use tagged link for examples and templates
  README.md
  website/docs/examples.md
  website/docs/getting_started.md
  website/docs/templates.md
Labels: area/docs

#225 Add docker-multi-container-app example
  examples/docker-multi-container-app/.gitignore
  examples/docker-multi-container-app/README.md
  examples/docker-multi-container-app/app/Main.scala
  examples/docker-multi-container-app/app/project.scala
  examples/docker-multi-container-app/infra/Main.scala
  examples/docker-multi-container-app/infra/Pulumi.yaml
  examples/docker-multi-container-app/infra/project.scala
Labels: area/examples

#346 Update examples
  .github/workflows/examples.yml
  .github/workflows/templates.yml
  CONTRIBUTING.md
  Justfile
  codegen/src/PulumiDefinitionCoordinates.scala
  codegen/src/PulumiDefinitionCoordinates.test.scala
  examples/aws-s3-folder/project.scala
  examples/aws-secrets-manager/Main.scala
  examples/aws-secrets-manager/project.scala
  examples/aws-webserver/Main.scala
  examples/aws-webserver/README.md
  examples/aws-webserver/project.scala
  examples/docker-multi-container-app/app/project.scala
  examples/docker-multi-container-app/infra/Main.scala
  examples/docker-multi-container-app/infra/project.scala
  examples/gcp-static-page/Main.scala
  examples/gcp-static-page/README.md
  examples/gcp-static-page/project.scala
  examples/kubernetes-nginx/README.md
  examples/kubernetes-nginx/project.scala
  experimental/project.scala
  integration-tests/resources/cats-purrl-example/project.scala
  integration-tests/resources/executors/scala-cli/project.scala
  integration-tests/resources/random-example/project.scala
  integration-tests/resources/references/source-stack/project.scala
  integration-tests/resources/tls-example/project.scala
  integration-tests/resources/zio-tls-example/project.scala
  scripts/Coverage.scala
  scripts/Packages.scala
  scripts/Proto.scala
  scripts/Schemas.scala
  scripts/Version.scala
  scripts/cli.scala
  scripts/common.scala
  scripts/project.scala
  templates/aws/project.scala
  templates/default/project.scala
  templates/gcp/project.scala
  templates/kubernetes/project.scala
Labels: area/examples

#349 Publishing update
  .github/workflows/ci.yml
  .github/workflows/delete-old-packages.yaml
  .github/workflows/examples.yml
  .github/workflows/publish.yaml
  .github/workflows/templates.yml
  .github/workflows/upstream_proto.yml
  CONTRIBUTING.md
  Justfile
  besom-json/project.scala
  codegen/project.scala
  codegen/src/CodeGen.scala
  core/project.scala
  scripts/Packages.scala
  scripts/Schemas.scala
  scripts/cli.scala
  scripts/common.scala
Labels: area/build

#350 Update Besom scripts
  CONTRIBUTING.md
  Justfile
  scripts/Packages.scala
  scripts/Proto.scala
  scripts/Version.scala
  scripts/cli.scala
Labels: impact/no-changelog-required, area/build

#353 Cleanup codegen TODOs
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  codegen/src/PulumiPackage.scala
Labels: impact/no-changelog-required

#355 Overhauled ResourceOptions and implemented Remote Components
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  core/project.scala
  core/src/main/scala/besom/aliases.scala
  core/src/main/scala/besom/internal/BesomSyntax.scala
  core/src/main/scala/besom/internal/Context.scala
  core/src/main/scala/besom/internal/CustomTimeouts.scala
  core/src/main/scala/besom/internal/Input.scala
  core/src/main/scala/besom/internal/Resource.scala
  core/src/main/scala/besom/internal/ResourceOps.scala
  core/src/main/scala/besom/internal/ResourceOptions.scala
  core/src/main/scala/besom/internal/ResourceState.scala
  core/src/main/scala/besom/internal/StackReference.scala
  core/src/main/scala/besom/internal/codecs.scala
  core/src/main/scala/besom/internal/resources.scala
  core/src/test/scala/besom/external/ResourceConstructorTest.scala.scala
  core/src/test/scala/besom/internal/OutputTest.scala
  core/src/test/scala/besom/internal/RunOutput.scala
  examples/aws-s3-folder/Main.scala
  examples/docker-multi-container-app/infra/Main.scala
  experimental/src/main/scala/besom/liftoff.scala
  website/docs/constructors.md
  website/docs/tutorial.md
Labels: area/core, impact/first-48, area/api

#360 Fix traverse on Output
  core/src/main/scala/besom/internal/Output.scala
  core/src/test/scala/besom/internal/OutputTest.scala
Labels: kind/bug, area/core, impact/first-48

#361 Fix fatals hanging the app with FutureRuntime
  core/src/main/scala/besom/future.scala
  core/src/main/scala/besom/internal/BesomModule.scala
Labels: kind/bug, area/core, P0
