Repository VirtusLab/besom, pull requests merged in 2024-02, with the labels that each got.

#354 Add language plugin executors form gradle and maven
  .github/workflows/ci.yml
  Justfile
  integration-tests/CodegenTests.test.scala
  integration-tests/CompilerPlugin.test.scala
  integration-tests/CoreTests.test.scala
  integration-tests/LanguagePluginTest.test.scala
  integration-tests/integration.scala
  integration-tests/resources/executors/gradle/.gitattributes
  integration-tests/resources/executors/gradle/.gitignore
  integration-tests/resources/executors/gradle/Pulumi.yaml
  integration-tests/resources/executors/gradle/build.gradle.kts
  integration-tests/resources/executors/gradle/gradle/libs.versions.toml
  integration-tests/resources/executors/gradle/gradle/wrapper/gradle-wrapper.jar
  integration-tests/resources/executors/gradle/gradle/wrapper/gradle-wrapper.properties
  integration-tests/resources/executors/gradle/gradlew
  integration-tests/resources/executors/gradle/gradlew.bat
  integration-tests/resources/executors/gradle/settings.gradle.kts
  integration-tests/resources/executors/gradle/src/main/scala/besom/languageplugin/test/pulumiapp/Main.scala
  integration-tests/resources/executors/maven/.gitattributes
  integration-tests/resources/executors/maven/.gitignore
  integration-tests/resources/executors/maven/.mvn/wrapper/maven-wrapper.properties
  integration-tests/resources/executors/maven/Pulumi.yaml
  integration-tests/resources/executors/maven/mvnw
  integration-tests/resources/executors/maven/mvnw.cmd
  integration-tests/resources/executors/maven/pom.xml
  integration-tests/resources/executors/maven/src/main/scala/org/virtuslab/example/infra/Main.scala
  integration-tests/resources/executors/scala-cli/project.scala
  integration-tests/resources/random-example/project.scala
  integration-tests/resources/references/source-stack/project.scala
  integration-tests/resources/tls-example/project.scala
  language-plugin/pulumi-language-scala/executors/executor.go
  language-plugin/pulumi-language-scala/executors/executor_gradle.go
  language-plugin/pulumi-language-scala/executors/executor_maven.go
  language-plugin/pulumi-language-scala/executors/executor_test.go
  language-plugin/pulumi-language-scala/go.mod
  language-plugin/pulumi-language-scala/go.sum
Labels: area/language-host

#352 Add resource get to codegen
  codegen/src/CodeGen.scala
  codegen/src/CodeGen.test.scala
  core/src/main/scala/besom/aliases.scala
  core/src/main/scala/besom/internal/BesomSyntax.scala
  core/src/main/scala/besom/internal/ResourceCompanion.scala
  integration-tests/resources/random-example/Main.scala
Labels: area/codegen, area/core

#364 Fix resource decoders
  core/src/main/scala/besom/internal/codecs.scala
Labels: kind/bug, P0, area/api

#371 fix transitive dependency resolution algorithm
  core/src/main/scala/besom/internal/ResourceOps.scala
  core/src/main/scala/besom/internal/resources.scala
  core/src/test/scala/besom/internal/ResourceOpsTest.scala
Labels: kind/bug, area/core, P0

#358 Add AWS EKS example
  core/src/main/scala/besom/internal/Resource.scala
  core/src/main/scala/besom/internal/ResourceDecoder.scala
  core/src/main/scala/besom/internal/resources.scala
  examples/aws-eks/.gitignore
  examples/aws-eks/Main.scala
  examples/aws-eks/Pulumi.yaml
  examples/aws-eks/README.md
  examples/aws-eks/project.scala
  scripts/Packages.scala
  scripts/Version.scala
Labels: area/examples

#369 Add GCP Cloud Run example
  CONTRIBUTING.md
  examples/gcp-cloudrun/.gitignore
  examples/gcp-cloudrun/README.md
  examples/gcp-cloudrun/app/.dockerignore
  examples/gcp-cloudrun/app/Dockerfile
  examples/gcp-cloudrun/app/Main.scala
  examples/gcp-cloudrun/app/project.scala
  examples/gcp-cloudrun/infra/Main.scala
  examples/gcp-cloudrun/infra/Pulumi.yaml
  examples/gcp-cloudrun/infra/project.scala
Labels: area/examples

#375 Add multiple cases to NonEmptyString support
  core/src/main/scala/besom/internal/BesomSyntax.scala
  core/src/main/scala/besom/util/NonEmptyString.scala
  core/src/test/scala/besom/util/CompileAssertions.scala
  core/src/test/scala/besom/util/NonEmptyStringTest.scala
  website/docs/changelog.md
Labels: kind/improvement, area/core, impact/usability, impact/first-48, size/S, area/api, impact/reliability

#373 Fix codegen
  CONTRIBUTING.md
  codegen/src/CodeGen.scala
  codegen/src/PropertyInfo.scala
  codegen/src/TypeMapper.scala
  codegen/src/TypeMapper.test.scala
  core/src/main/scala/besom/internal/Config.scala
  core/src/main/scala/besom/types.scala
  core/src/test/scala/besom/internal/CodegenTest.scala
  core/src/test/scala/besom/internal/ConfigTest.scala
  scripts/Packages.scala
  scripts/Version.scala
  scripts/common.scala
Labels: area/codegen, impact/no-changelog-required

#380 Update website
  CONTRIBUTING.md
  website/docs/basics.md
  website/docs/getting_started.md
  website/docs/missing.md
  website/docusaurus.config.js
Labels: area/docs

#385 Fix URL validation to allow for kubernetes types
  core/src/main/scala/besom/types.scala
  core/src/test/scala/besom/util/URNTest.scala
Labels: kind/bug, P0

#382 Update after release
  CONTRIBUTING.md
  README.md
  besom-cats/project.scala
  besom-zio/project.scala
  core/project.scala
  examples/aws-eks/project.scala
  examples/aws-s3-folder/project.scala
  examples/aws-secrets-manager/project.scala
  examples/aws-webserver/project.scala
  examples/docker-multi-container-app/infra/project.scala
  examples/gcp-cloudrun/infra/project.scala
  examples/gcp-static-page/project.scala
  examples/kubernetes-nginx/project.scala
  experimental/project.scala
  integration-tests/project.scala
  integration-tests/resources/cats-purrl-example/project.scala
  integration-tests/resources/compiler-plugin/project.scala
  integration-tests/resources/config-example/project.scala
  integration-tests/resources/executors/scala-cli/project.scala
  integration-tests/resources/logger-example/project.scala
  integration-tests/resources/random-example/project.scala
  integration-tests/resources/references/source-stack/project.scala
  integration-tests/resources/references/target-stack/project.scala
  integration-tests/resources/tls-example/project.scala
  integration-tests/resources/zio-tls-example/project.scala
  language-plugin/bootstrap/project.scala
  scripts/Packages.scala
  scripts/Version.scala
  scripts/common.scala
  scripts/project.scala
  templates/aws/project.scala
  templates/default/project.scala
  templates/gcp/project.scala
  templates/kubernetes/project.scala
  version.txt
Labels: impact/no-changelog-required

#388 Update website, Justfile and CONTRIBUTING.md
  CONTRIBUTING.md
  Justfile
  website/README.md
  website/docs/api_reference.md
  website/docs/basics.md
  website/docs/constructors.md
  website/docs/getting_started.md
  website/docs/intro.md
  website/docs/logging.md
  website/docs/tutorial.md
  website/src/remark/codeblockVersion.js
Labels: area/docs, impact/no-changelog-required

#391 Update providers in examples and templates
  examples/aws-s3-folder/project.scala
  examples/aws-secrets-manager/project.scala
  examples/aws-webserver/project.scala
  templates/aws/project.scala
Labels: area/examples, area/providers

#392 Bump version to 0.2.1
  README.md
  besom-cats/project.scala
  besom-zio/project.scala
  codegen/src/model/SemanticVersion.scala
  core/project.scala
  examples/aws-eks/project.scala
  examples/aws-s3-folder/project.scala
  examples/aws-secrets-manager/project.scala
  examples/aws-webserver/project.scala
  examples/docker-multi-container-app/infra/project.scala
  examples/gcp-cloudrun/infra/project.scala
  examples/gcp-static-page/project.scala
  examples/kubernetes-nginx/project.scala
  experimental/project.scala
  integration-tests/project.scala
  integration-tests/resources/cats-purrl-example/project.scala
  integration-tests/resources/compiler-plugin/project.scala
  integration-tests/resources/config-example/project.scala
  integration-tests/resources/executors/gradle/build.gradle.kts
  integration-tests/resources/executors/maven/pom.xml
  integration-tests/resources/executors/sbt/build.sbt
  integration-tests/resources/executors/scala-cli/project.scala
  integration-tests/resources/kubernetes-secrets/project.scala
  integration-tests/resources/logger-example/project.scala
  integration-tests/resources/random-example/project.scala
  integration-tests/resources/references/source-stack/project.scala
  integration-tests/resources/references/target-stack/project.scala
  integration-tests/resources/tls-example/project.scala
  integration-tests/resources/zio-tls-example/project.scala
  language-plugin/bootstrap/project.scala
  scripts/Version.scala
  scripts/project.scala
  templates/aws/project.scala
  templates/default/project.scala
  templates/gcp/project.scala
  templates/kubernetes/project.scala
  website/docs/changelog.md
  website/docs/examples.md
  website/docs/getting_started.md
  website/docs/templates.md
  website/docusaurus.config.js
  website/src/remark/codeblockVersion.js
Labels: impact/no-changelog-required

#393 Update website
  website/docusaurus.config.js
  website/src/remark/codeblockVersion.js
Labels: area/docs

#394 Update version to 0.2.2-SNAPSHOT
  besom-cats/project.scala
  besom-zio/project.scala
  core/project.scala
  examples/aws-eks/project.scala
  examples/aws-s3-folder/project.scala
  examples/aws-secrets-manager/project.scala
  examples/aws-webserver/project.scala
  examples/docker-multi-container-app/infra/project.scala
  examples/gcp-cloudrun/infra/project.scala
  examples/gcp-static-page/project.scala
  examples/kubernetes-nginx/project.scala
  experimental/project.scala
  integration-tests/project.scala
  integration-tests/resources/cats-purrl-example/project.scala
  integration-tests/resources/compiler-plugin/project.scala
  integration-tests/resources/config-example/project.scala
  integration-tests/resources/executors/scala-cli/project.scala
  integration-tests/resources/kubernetes-secrets/project.scala
  integration-tests/resources/logger-example/project.scala
  integration-tests/resources/random-example/project.scala
  integration-tests/resources/references/source-stack/project.scala
  integration-tests/resources/references/target-stack/project.scala
  integration-tests/resources/tls-example/project.scala
  integration-tests/resources/zio-tls-example/project.scala
  language-plugin/bootstrap/project.scala
  scripts/project.scala
  templates/aws/project.scala
  templates/default/project.scala
  templates/gcp/project.scala
  templates/kubernetes/project.scala
  version.txt
Labels: impact/no-changelog-required

#395 add kubernetes guestbook example
  examples/kubernetes-guestbook/.gitignore
  examples/kubernetes-guestbook/README.md
  examples/kubernetes-guestbook/components/Main.scala
  examples/kubernetes-guestbook/components/Pulumi.yaml
  examples/kubernetes-guestbook/components/README.md
  examples/kubernetes-guestbook/components/imgs/guestbook.png
  examples/kubernetes-guestbook/components/project.scala
  examples/kubernetes-guestbook/simple/Main.scala
  examples/kubernetes-guestbook/simple/Pulumi.yaml
  examples/kubernetes-guestbook/simple/README.md
  examples/kubernetes-guestbook/simple/imgs/guestbook.png
  examples/kubernetes-guestbook/simple/project.scala
Labels: area/examples

#400 Fix issue 397
  core/src/main/scala/besom/internal/Context.scala
  examples/kubernetes-guestbook/components/Main.scala
  examples/kubernetes-guestbook/simple/Main.scala
Labels: kind/bug, area/core, P1

#396 Update besom scripts
  CONTRIBUTING.md
  scripts/Packages.scala
Labels: area/tooling, impact/no-changelog-required, area/build
